
body {
    background-color: black;
    /* Targeting the body instead of '*' */
  }
  
  .signIn {
    background-color: #D82B2A;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  
  
  }
  
  .tvText {
    font-size: 50px;
    font-weight: bold;
  }
  
  .starts {
    font-size: 26px;
    font-weight: 600;
   
  }
  
  .enterEmail{
    font-size: 22px;
    font-weight: 400;
  }
  
  
  .btnNInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
   
  }
  .btnNInput input{
    opacity: .8;
  }
  
  
  .getStarted {
    padding: 12px 20px;
      background-color: #e50914;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 30px;
      width: 250px;
      height: 9vh;
  
  }
  
  
  .emailInput {
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    color: white; /* Text color set to white */
    border: 1px solid white; /* White border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding for better spacing */
    width: 450px;
    height: 55px;
    margin-right: 10px;
    font-size: 25px; /* Adjust width as needed */
  }
  
  .emailInput::placeholder {
    color: white;
  }
  .movieMain{
   margin-top: 2%;
   padding-left: 3%;
  }
  .trending{
    color:white;
   font-size: 25px;
    font-weight: bold;
  }
  
  